body {
    font-family: 'Poppins', sans-serif;
    background-color: #d6d2a4;
    color: #222222;
    padding: 20px;
    line-height: 1.6;
    text-align: center;
}

h1 {
    color: #FF6B35;
    margin-bottom: 10px;
}

p {
    max-width: 800px;
    margin: 0 auto;
    color: #5e0a69;
}
p2{
    color: rgb(170, 3, 3);
}

.row {
    display: flex;  
    gap: 20px;
    margin: 30px auto;
    max-width: 900px;
    align-items: center;
    justify-content: center;
}

.row img {
    width: 360px; 
    border-radius: 20px;
}

.side-text {
    width: 360px; 
    text-align: left;
}

.image-box img {
    width: 540px; 
    border-radius
}